Binaries
DerivedDataCache
Intermediate
Saved
*.VC.db
*.opensdf
*.opendb
*.sdf
*.sln
*.suo
*.xcodeproj
*.xcworkspace
HDRI_Epic_Courtyard_Daylight.uasset
Overview.umap
Content/InfinityBladeWarriors/Maps/LevelContent/Architecture/M_1Meter_01.uasset
Content/InfinityBladeWarriors/Maps/LevelContent/Architecture/M_CycRoom_01.uasset
Content/InfinityBladeWarriors/Maps/LevelContent/Architecture/M_CycWall_01.uasset
Content/InfinityBladeWarriors/Maps/LevelContent/Architecture/SM_1Meter_01.uasset
Content/InfinityBladeWarriors/Maps/LevelContent/Architecture/SM_CycRoom_01.uasset
Content/InfinityBladeWarriors/Maps/LevelContent/Architecture/T_MeterGrid_01_M.uasset
